@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
  --color-kodegiri-light-green: #CBEAE2;
  --color-kodegiri-yellow: #F9CE1D;
  --color-kodegiri-lime-green: #D4E496;
  --color-kodegiri-dark-green: #1F5E19;
  --color-kodegiri-medium-green: #049624;
  --color-kodegiri-brown: #B28966;
  --color-kodegiri-black: #1F1F1F;
  --color-kodegiri-white: #F9F9F9;
}